@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(var(--color-light));
}

/* ========== DARK THEME VARIABLES ========== */
.dark-theme-variables{
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 14px;
  /* overflow-x: hidden; */
}

body{
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

.container{
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

h3{
  font-size: 0.87rem;
}

aside{
  height: 100vh;
}

aside .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo{
  display: flex;
  gap: 0.8rem;
}

aside .logo img{
  width: 2rem;
  height: 2rem;
}

aside .logo .logo-color{
  color: var(--color-primary);
}

aside .close{
   display: none;
}

/* ========== SIDEBAR ========== */
aside .sidebar{
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3{
  font-weight: 500;
}

aside .sidebar a{
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span{
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active{
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before{
  content: '';
  width: 6px;
  height: 100%;
  background-color: var(--color-primary);
}

aside .sidebar a.active span{
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
  color: var(--color-primary);
}

aside .sidebar a:hover span{
  margin-left: 1rem;
}

aside .sidebar .message-count{
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

.admin-product-form-container form{
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--color-background);  
}

.admin-product-form-container form h2{
  text-transform: uppercase;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

.admin-product-form-container form textarea{
  resize: none;
}

.admin-product-form-container form select{
  color: grey;
  /* -webkit-appearance: listbox; */
}

.admin-product-form-container form .box{
  width: 100%;
  font-family: poppins, sans-serif;
  border-radius: 0.5rem;
  padding: 1.2rem 1.5rem;
  font-size: 1.5rem;
  margin: 1rem 0;
  background: var(--color-white);
}

.btn,
form a{
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  background: var(--color-primary);
  text-align: center;
  color: var(--color-white);
  text-transform: none;
  transition: all 0.3s ease;
}

.btn:hover,
form a:hover{
  background: black;
}

.admin-product-form-container.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.admin-product-form-container .message{
  display: block;
  background: var(--color-background);
  padding: 1.5rem 1rem;
  font-size: 2rem;
  color: black;
  margin-bottom: 2rem;
  text-align: center;
}

.product-container{
  max-width: 50rem;
  padding: 2rem;
  margin-left: 100px;
}

.product-display{
  margin: 2rem 0;
}

.product-display .product-display-table{
  width: 100%;
  text-align: center;
}

.product-display .product-display-table thead{
  background-color: var(--color-white);
}

.product-display .product-display-table th{
  font-size: 2rem;
  padding: 1rem;
}

.product-display .product-display-table td{
  font-size: 2rem;
  padding: 1rem;
  border-bottom: .2rem solid #333;
}

.product-display .product-display-table .btn:first-child{
  margin-top: 0;
}

.product-display .product-display-table .btn:last-child{
  background: crimson;
}

.product-display .product-display-table .btn:last-child:hover{
  background: #333;
}


/* ========== MEDIA QUERIES ========== */
@media screen and (max-width: 1200px){
  .container{
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside .logo h2{
    display: none;
  }

  aside .sidebar h3{
    display: none;
  }

  aside .sidebar a{
    width: 5.6rem;
  }

  aside .sidebar a:last-child{
    position: relative;
    margin-top: 1.8rem;
  }
}

@media (max-width: 991px){
  html{
    font-size: 55%;
  }
}

@media (max-width: 768px){
  .product-display{
    overflow-y: scroll;
  }

  .product-display .product-display-table{
    width: 80rem;
  }
}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }
}