@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background: #ffffff;
  background: -webkit-radiau-gradient(to right, #636161, #474747);
  background: linear-gradient(to right, #050505, #777577);
  background-repeat: no-repeat;

  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: radial-gradient(rgb(133, 133, 133), rgb(1, 0, 1));
  max-width: 320px;
  width: 320px;
  min-height: 40vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0red, 0, 0, 0.2);
  border-radius: 8px;
}

.container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

main h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

main h2::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 4px;
  bottom: 3px;
  left: 0;
  border-radius: 0.5rem;
  background: #1e64c0;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  position: relative;
}

form .input-field:first-child {
  margin-bottom: 1.5rem;
}

.input-field .underline::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: #1e64c0;
}

.input-field .underline::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: #e7e7e7;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.input-field input:focus~.underline::after {
  transform: scaleX(1);
}

.input-field input {
  outline: none;
  height: 25px;
  width: 16rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  border-radius: 3px;
}

.input-field input::placeholder {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

form input[type="submit"] {
  margin-top: 2rem;
  padding: 0.4rem;
  background: #1e64c0;
  cursor: pointer;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease;
}

form input[type="submit"]:hover {
  letter-spacing: 0.5px;
}

.es {
  margin-top: 3rem;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  border: 3px solid orangered;
  background-color: orangered;
  margin-left: 2.5rem;
}

.linha {
  text-decoration: none;
  transition: all 0.3s ease;
}

.alert-danger {
  color: rgb(247, 6, 6);
  text-shadow: 2px 2px #000000;
  font-weight: bold;

}

.alert-sucess {
  color: green;
}

.logo img {
  height: 180px;
  width: 180px;
}